<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all2.css' %}">
    <title>LATRELLO</title>
</head>
<body>
<div class="count">
    <p><strong>Count of Session</strong><h2>{{ request.session.session_count }}</h2></p>
</div>
<div class="header">
    {% block header %}
        {% if user.is_authenticated %}
            <div><a href="{% url 'home' %}">Home</a></div>
            <div><a href="{% url 'logout' %}">Logout</a></div>
            <div>
                <a href="{% url 'cards' %}">
                    {% if not user.is_superuser %}
                        My Cards
                    {% else %}
                        All Cards
                    {% endif %}
                </a>
            </div>

            <div>
                <h2>
                    {% if not user.is_superuser %}
                        {{ user }}<br>
                    {% else %}
                        {{ user }}<br>
                        ADMIN
                    {% endif %}
                </h2>
            </div>

        {% else %}
            <div><a href="{% url 'home' %}">Home</a></div>
            <div><a href="{% url 'login' %}">Log In</a></div>
            <div><a href="{% url 'register' %}">Sign up</a></div>

            <div><h2>Guest</h2></div>
        {%  endif %}
        </div>
    {% endblock %}
</div>
<div class="content">
   {% block content %}
    {% endblock %}
</div>

</body>
</html>