body{
    /*background-color: #dad8d8;*/
    color: snow;
    background-image: url("https://gamerwall.pro/uploads/posts/2021-11/1637220696_3-gamerwall-pro-p-derevyannii-parket-tekstura-oboi-na-zastav-3.jpg");
    /*background-image: url("https://img3.akspic.ru/crops/0/4/8/2/32840/32840-bumaga-pol-derevyannyj_nastil-drevesina-parket-1920x1080.jpg");*/
}
.count{
    width: 90px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: inset 0px 0px 5px 3px #ffa500;
}
.count h2,
.count p {
    margin: 0;
}

.count h2{
    color: crimson;
}

.header{
    box-shadow: inset 0px 0px 5px 3px #ffa500;
    /*background-color: orange;*/
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 25px auto 35px;
}
button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px 2px maroon;
    margin-left: 10px;
}
button:hover {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 5px maroon;
}
a{
    text-decoration: none;
    padding: 5px;
    color: snow;
}
.header h2 {
    color: maroon;

}

.header div > a:hover{
    box-shadow: 0px 0px 13px 10px #fff;
    border-radius: 10px;
}
.content{
    width: 65%;
    margin: 0 auto;
}
.product{
    display: flex;
    flex-direction: column;
}
.object_product{
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px ;
    border: 2px solid orange;
    box-shadow: inset 0px 0px 5px 3px #ffa500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product_description{
    color: #6c4a0a;
}
.object_product form {
    margin: 10px 0;
    display: inline-block;
}

.object_product h5{
    margin: 5px 0;
    color: maroon;
}

.product_description input{
    width: 90px;
}
h3 {
    margin: 0;
    color: orange;
}
.create_card_text {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.create_card_text p{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.create_card_text p textarea{
    height: 60px;
    padding: 5px 10px ;
    border-radius: 7px;
    color: maroon;
    font-size: 16px;
    margin-left: 3%;
}
.create_card_text p > select {
    height: 25px;
    border-radius: 5px;
    width: 50%;
}

.object_product.new {
    border: 10px solid blue;
}
.object_product.in_progress {
    border: 10px solid green;
}
.object_product.in_qa {
    border: 10px solid yellow;
}
.object_product.ready {
    border: 10px solid hotpink;
}
.object_product.done {
    border: 10px solid red;
}